@import "./partials/logo";
@import "./partials/submit-button-contact";
@import "./partials/header";
@import "./partials/cubes";
@import "./partials/footer";
@import "./partials/cubes-content";
@import "./partials/form";
@import "./partials/carousel";
@import "./partials/grids";
@import "./partials/all-page";

#divprueba {
    background-color: rgb(66, 66, 66);
    height: 300px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    margin-left: 7px;
    

    img {
        height: 100px;
    }

    @media only screen and (max-width: 410px) {
        img {
            height: 80px;
        }
    }

    div {
        background-color: black;
        border-radius: 12px;
        cursor: pointer;

        p {
            margin: 0;
            margin: 10px;
        }
    }
    
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}