.logo {
  background: transparent;
  padding: 0;
  border: none;
  cursor: default !important;
}

@media only screen and (min-width: 1200px) {
  .logo {
    margin-left: 10px;
  }
}
.logo {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #00ff62;
  --fs-size: 2em;
  -webkit-animation-name: logocolor;
  animation-name: logocolor;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

@media only screen and (min-width: 1200px) {
  .logo:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
  }
}
@-webkit-keyframes logocolor {
  0% {
    --animation-color: #00ff62;
  }
  50% {
    --animation-color: #269dff;
  }
  100% {
    --animation-color: #00ff62;
  }
}
@keyframes logocolor {
  0% {
    --animation-color: #00ff62;
  }
  50% {
    --animation-color: #269dff;
  }
  100% {
    --animation-color: #00ff62;
  }
}
#submit {
  font-family: inherit;
  font-size: 20px;
  background: rgb(0, 0, 0);
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

#submitcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

#submit svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

@media only screen and (min-width: 1200px) {
  #submit:hover .svg-wrapper {
    -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
            animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  #submit:hover svg {
    transform: translateX(1.4em) rotate(45deg) scale(1.1);
  }
  #submit:hover span {
    transform: translateX(5em);
  }
  #submit:active {
    transform: scale(0.95);
  }
}
@-webkit-keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }
  to {
    transform: translateY(-0.1em);
  }
}
.nav-item {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .nav-item {
    background-color: #2e2e2e;
    padding: 3px;
    margin-top: 3px;
    border-radius: 1em;
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1em;
  top: 8px;
  z-index: 2;
}
header img {
  width: 16px;
}
header li, header div, header nav {
  display: inline-block;
}
header div {
  margin-right: 20px;
}
header h1 {
  margin: 0;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding-left: 10px;
}

.btn2 img {
  width: 16px;
} /**/
#headerc {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  nav ul div {
    transition: all 0.4s;
  }
  nav ul div:hover {
    background-color: rgb(44, 44, 44);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 1rem;
  }
}
.cube {
  border-radius: 10px;
  border: 3px solid;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  transition: all 700ms;
  height: 230px;
}

@media only screen and (min-width: 1200px) {
  .cube {
    height: 300px;
  }
  .cube:hover {
    transform: scale(1.01);
  }
}
#cbn1h {
  background-image: url(../img/stray.webp);
  background-position: top !important;
}

#cbn2h {
  background-image: url(../img/zoom.webp);
}

#cbn1g {
  background-image: url(../img/splitgate.webp);
}

#cbn2g {
  background-image: url(../img/portal.webp);
}

#cbn3g {
  background-image: url(../img/portal2.webp);
}

#cbn4g {
  background-image: url(../img/forzaHorizon5.webp);
}

#cbn5g {
  background-image: url(../img/fortnite.webp);
}

#cbn6g {
  background-image: url(../img/rocketLeauge.webp);
}

#cbn7g {
  background-image: url(../img/stray.webp);
  background-position: top !important;
}

#cbn1m {
  background-image: url(../img/marvel.webp);
  background-position: top !important;
}

#cbn2m {
  background-image: url(../img/starWars.webp);
}

#cbn3m {
  background-image: url(../img/disney.webp);
  background-position: bottom !important;
}

#cbn4m {
  background-image: url(../img/pixar.webp);
}

footer {
  text-align: center;
  transition: all 0.7s;
  margin-top: auto;
}
footer p {
  margin-right: 5px;
  margin-left: 5px;
}

.cube h1 {
  background: linear-gradient(rgb(30, 30, 255), rgb(30, 135, 255));
  padding: 10px;
  border-radius: 1rem;
  display: flex;
  justify-self: center;
  align-self: center;
  text-align: center;
  transition: transform 700ms;
}

.boton {
  background-color: rgb(19, 19, 19);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 1em;
  position: absolute;
  align-self: center;
  margin-top: 130px;
  transition: transform 0.7s;
}

.boton p {
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .boton:hover {
    transform: scale(1.1);
    border: 2px solid;
  }
  .boton {
    margin-top: 150px;
  }
  .boton:active {
    box-shadow: inset 4px 4px 12px #272727, inset -4px -4px 12px #000000;
    transform: scale(1);
  }
}
#form {
  transition: transform 700ms;
  display: block;
  background-color: rgb(0, 125, 228);
  padding: 10px;
  border-radius: 1em;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding-left: 17px;
  padding-right: 17px;
}

@media only screen and (min-width: 1200px) {
  #form:hover {
    transform: scale(1.01);
  }
}
#name, #lastname, #email {
  border: none;
  border-radius: 1em;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(0, 0, 0);
  font-size: medium;
  font-weight: bold;
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 3px;
  color: rgb(255, 255, 255);
}

input:focus {
  outline-color: rgb(255, 255, 255);
}

#submit {
  margin-top: 20px;
}

textarea {
  resize: none;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border-radius: 1em;
  margin-top: 3px;
  width: 200px;
  height: 150px;
  padding: 15px;
}

#formtitle {
  text-align: center;
  margin-top: 16px;
}

@media only screen and (max-width: 400px) {
  #formtitle h2, #formtitle h3 {
    font-size: 18px;
  }
  #formtitle p {
    font-size: 14px;
  }
}
.formtitle {
  background: linear-gradient(rgb(30, 30, 255), rgb(30, 135, 255));
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 1em;
}

#formcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .btn2:active {
    color: rgb(255, 255, 255);
    box-shadow: inset 4px 4px 12px #272727, inset -4px -4px 12px #000000;
  }
}
.btn2 {
  background-color: rgb(19, 19, 19);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  border-radius: 1em;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
}
.btn2 p {
  margin: 0 auto;
}

#titles {
  margin-top: 16px;
  text-align: center;
}

.btncarr {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  cursor: pointer;
}

.carousel-caption {
  padding-bottom: 0 !important;
  font-size: 80%;
}
.carousel-caption h5, .carousel-caption p {
  background-color: black;
  padding: 1%;
  border-radius: 7px;
  opacity: 0.8;
}
.carousel-caption b {
  padding-right: 5px;
  padding-left: 5px;
}

.carousel.slide {
  margin: 0 auto;
}

.carousel-inner {
  border-radius: 1em;
}

.carousel-indicators {
  display: none;
}

@media only screen and (min-width: 426px) {
  .carousel-caption {
    font-size: 100%;
  }
  .carousel-caption p {
    border-radius: 10px;
  }
}
@media only screen and (min-width: 576px) {
  .carousel-indicators {
    display: flex;
  }
  .carousel-caption {
    padding-bottom: 1.25rem !important;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 360px) {
  .carousel.slide {
    width: 90vw !important;
  }
}
@media only screen and (min-width: 1200px) {
  .carousel.slide {
    width: 70vw !important;
  }
}
#gridg {
  display: grid;
  grid-template-areas: "title" "cbn1g" "cbn2g" "cbn3g" "cbn4g" "cbn5g" "cbn6g" "cbn7g";
}

#gridh {
  display: grid;
  grid-template-areas: "cbn1h" "cbn2h";
}

#gridm {
  display: grid;
  grid-template-areas: "title" "cbn1m" "cbn2m" "cbn3m" "cbn4m";
}

#gridaw {
  display: grid;
  grid-template-areas: "abwetext";
}

#gridc {
  display: grid;
  grid-template-areas: "formt" "form";
}

#grids {
  display: grid;
  grid-template-areas: "titles" "homebtn";
}

@media only screen and (min-width: 1200px) {
  #gridg {
    grid-template-areas: "title title title title" "cbn1g cbn1g cbn1g cbn1g" "cbn2g cbn2g cbn2g cbn3g" "cbn4g cbn5g cbn5g cbn5g" "cbn6g cbn6g cbn7g cbn7g";
    grid-template-columns: 25% 25% 25% 25%;
  }
  #gridm {
    grid-template-areas: "title title" "cbn1m cbn2m" "cbn3m cbn4m";
    grid-template-columns: 50%;
  }
  #gridh {
    grid-template-areas: "cbn1h cbn2h";
    grid-template-columns: 50%;
  }
}
#abwetext {
  grid-area: abwetext;
}

main h2 {
  grid-area: title;
}

#cbn1g {
  grid-area: cbn1g;
}

#cbn2g {
  grid-area: cbn2g;
}

#cbn3g {
  grid-area: cbn3g;
}

#cbn4g {
  grid-area: cbn4g;
}

#cbn5g {
  grid-area: cbn5g;
}

#cbn6g {
  grid-area: cbn6g;
}

#cbn7g {
  grid-area: cbn7g;
}

#cbn1m {
  grid-area: cbn1m;
}

#cbn2m {
  grid-area: cbn2m;
}

#cbn3m {
  grid-area: cbn3m;
}

#cbn4m {
  grid-area: cbn4m;
}

footer {
  grid-area: footer;
}

#form {
  grid-area: form;
}

#formtitle {
  grid-area: formt;
}

header {
  grid-area: header;
}

#cbn1h {
  grid-area: cbn1h;
}

#cbn2h {
  grid-area: cbn2h;
}

@media only screen and (min-width: 1200px) and (max-width: 1470px) {
  h1 {
    font-size: 32px;
  }
}
html {
  height: 100%;
}

body {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  height: 100%;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
}

::-webkit-scrollbar {
  display: none;
}

#abwetext {
  margin-right: 7px;
  margin-left: 7px;
  background: linear-gradient(rgb(30, 30, 255), rgb(30, 135, 255));
  padding: 10px;
  border-radius: 1em;
  margin-top: 16px;
}

main h2 {
  margin-top: 16px;
  margin-left: 10px;
}

#hometext {
  margin-right: 5px;
  margin-left: 5px;
  background: linear-gradient(rgb(30, 30, 255), rgb(30, 135, 255));
  padding: 10px;
  border-radius: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 16px;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  #hometext {
    font-size: 20px;
  }
}
.botonhome {
  margin: 0 auto;
  padding: 10px;
  background: linear-gradient(rgb(255, 123, 0), rgb(255, 221, 26));
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1em;
  transition: all 0.7s;
  cursor: pointer;
}

.botonhome p {
  margin: 0;
  cursor: pointer;
}

@media only screen and (min-width: 1200px) {
  .botonhome:hover {
    transform: scale(1.1);
    border: 2px solid rgb(255, 255, 255);
  }
}
#divprueba {
  background-color: rgb(66, 66, 66);
  height: 300px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  margin-left: 7px;
}
#divprueba img {
  height: 100px;
}
@media only screen and (max-width: 410px) {
  #divprueba img {
    height: 80px;
  }
}
#divprueba div {
  background-color: black;
  border-radius: 12px;
  cursor: pointer;
}
#divprueba div p {
  margin: 0;
  margin: 10px;
}

.navbar-toggler {
  border: 0 !important;
  padding: 4px 0 4px 0;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

/* From uiverse.io by @Ali-Tahmazi99 */
input[type=checkbox] {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
}

.bar {
  display: flex;
  align-self: center;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 35px;
  right: 0 !important;
  margin-right: 10px !important;
}

.bar span {
  position: absolute;
  width: 35px;
  height: 6px;
  background: #f1faee;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s ease;
  left: 0;
}

.bar span.top {
  top: 0;
}

.bar span.middle {
  top: 14.5px;
}

.bar span.bottom {
  bottom: 0;
}

input[type]:checked ~ span.top {
  transform: rotate(45deg);
  transform-origin: top left;
  width: 43px;
  left: 5px;
}

input[type]:checked ~ span.bottom {
  transform: rotate(-45deg);
  transform-origin: top left;
  width: 43px;
  bottom: -1px;
  box-shadow: 0 0 10px #495057;
}

input[type]:checked ~ span.middle {
  transform: translateX(-20px);
  opacity: 0;
}/*# sourceMappingURL=style.css.map */