.cube {
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    transition: all 700ms;
    height: 230px;
}

@media only screen and (min-width: 1200px) {

    .cube {
        height: 300px;
    }
    
    .cube:hover {
    transform: scale(1.01);
    }
}

#cbn1h {
    background-image: url(../img/stray.webp);
    background-position: top !important;
}

#cbn2h {
    background-image: url(../img/zoom.webp);
}

#cbn1g {
    background-image: url(../img/splitgate.webp);
}

#cbn2g {
    background-image: url(../img/portal.webp);
}

#cbn3g {
    background-image: url(../img/portal2.webp);
}

#cbn4g {
    background-image: url(../img/forzaHorizon5.webp);
}

#cbn5g {
    background-image: url(../img/fortnite.webp);
}

#cbn6g {
    background-image: url(../img/rocketLeauge.webp);
}

#cbn7g {
    background-image: url(../img/stray.webp);
    background-position: top !important;
}

#cbn1m {
    background-image: url(../img/marvel.webp);
    background-position: top !important;
}

#cbn2m {
    background-image: url(../img/starWars.webp);
}

#cbn3m {
    background-image: url(../img/disney.webp);
    background-position: bottom !important;
}

#cbn4m {
    background-image: url(../img/pixar.webp);
}

