footer {
    text-align: center;
    transition: all 0.7s;
    margin-top: auto;
    

    p {
        margin-right: 5px;
        margin-left: 5px;
    }
}

#social_container {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 5px;
}

@media only screen and (max-width: 450px) {
    #social_container {
        width: 270px;
    }
}

#social {
    display: block;
    background-color: black;
    margin: 0 auto;
    border-radius: 1em;
    padding: 5px;
    margin-bottom: 1rem;
}

.social_item_div {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;
    cursor: pointer;
    margin: 7px;
}

.social_item {
    display: inline-block;
}

.social_item_text {
    margin: auto 0;
}

.social_item_image {
    width: 30px;
    height: 30px;
}