#form {
    transition: transform 700ms;
    display:block;
    background-color: rgb(0, 125, 228);
    padding: 10px;
    border-radius: 1em;
    width: min-content;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 1em;
}

@media only screen and (min-width: 1200px) {

    #form:hover {
        transform: scale(1.01);
    }

    
}

#name, #lastname, #email {
        border: none;
        border-radius: 1em;
        padding: 15px;
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(0, 0, 0);
        font-size: medium;
        font-weight: bold;
        width: 250px;
        margin-bottom: 20px;
        margin-top: 3px;
        color: map-get($colors, border-color);
    }
       
    input:focus {
        outline-color: map-get($colors, border-color);
    }
    
    #submit {
        margin-top: 20px;
    }

    textarea {
        resize: none;
        border: none;
        outline: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        border-radius: 1em;
        margin-top: 3px;
        width: 250px;
        height: 200px;
        padding: 15px;
    }
    
    #formtitle {
        text-align: center;
        margin-top: 16px;
    }

    @media only screen and (max-width: 400px) {
        #formtitle {
            h2, h3 {
                font-size: 18px;
            }

            p {
                font-size: 14px;
            }
        }
    }
    
    .formtitle {
        background: map-get($colors, titles-color);
        width: fit-content;
        margin: 0 auto;
        padding: 10px;
        border-radius: 1em;
    }
    
    #formcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    @media only screen and (min-width: 1200px) {
        
        .btn2:active {
        color: map-get($colors, border-color);
        box-shadow: inset 4px 4px 12px #272727,
                    inset -4px -4px 12px #000000;
       }
    }
    
    .btn2 {
        background-color: rgb(19, 19, 19);
        width: fit-content;
        padding: 15px;
        border-radius: 1em;
        margin-right: auto;
        margin-left: auto;
        cursor: pointer;

        p {
            margin: 0 auto;
        }
    }
    
    #titles {
        margin-top: 16px;
        text-align: center;
    }