#gridg {
    display: grid;
    grid-template-areas: 
    "title"    
    "cbn1g"
    "cbn2g"
    "cbn3g"
    "cbn4g"
    "cbn5g"
    "cbn6g"
    "cbn7g"
    "media";
}

#gridh {
    display: grid;
    grid-template-areas:
    "cbn1h"
    "cbn2h";
}

#gridm {
    display: grid;
    grid-template-areas:
    "title"
    "cbn1m"
    "cbn2m"
    "cbn3m"
    "cbn4m"
    "media"; 
}

#gridaw {
    display: grid;
    grid-template-areas:
    "abwetext"
    "coder-link"
    "media";
}

#gridc {
    display: grid;
    grid-template-areas:
    "formt"
    "form"
    "media";
}

#grids {
    display: grid;
    grid-template-areas:
    "titles"
    "homebtn"
    "media";
}

@media only screen and (min-width: 1200px) {

    #gridg {
        grid-template-areas: 
        "title title title title"    
        "cbn1g cbn1g cbn1g cbn1g"
        "cbn2g cbn2g cbn2g cbn3g"
        "cbn4g cbn5g cbn5g cbn5g"
        "cbn6g cbn6g cbn7g cbn7g"
        "media media media media";
        grid-template-columns: 25% 25% 25% 25%;
    }

    #gridm {
        grid-template-areas:
        "title title"
        "cbn1m cbn2m"
        "cbn3m cbn4m"
        "media media";
        grid-template-columns: 50%; 
    }

    #gridh {
        grid-template-areas:
        "cbn1h cbn2h";
        grid-template-columns: 50%;
    }
}

#abwetext {
    grid-area: abwetext;
}

main h2 {
    grid-area: title;
}

#cbn1g {
    grid-area: cbn1g;
}

#cbn2g {
    grid-area: cbn2g;
}

#cbn3g {
    grid-area: cbn3g;
}

#cbn4g {
    grid-area: cbn4g;
}

#cbn5g {
    grid-area: cbn5g;
}

#cbn6g {
    grid-area: cbn6g;
}

#cbn7g {
    grid-area: cbn7g;
}

#cbn1m {
    grid-area: cbn1m;
}

#cbn2m {
    grid-area: cbn2m;
}

#cbn3m {
    grid-area: cbn3m;
}

#cbn4m {
    grid-area: cbn4m;
}

footer {
    grid-area: footer;
}

#form {
    grid-area: form;
}

#formtitle {
    grid-area: formt;
}

header {
    grid-area: header;
}

#cbn1h {
    grid-area: cbn1h;
}

#cbn2h {
    grid-area: cbn2h;
}

#divprueba {
    grid-area: coder-link;
}

#social {
    grid-area: media;
}
