$colors: (
    titles-color: linear-gradient(rgb(30, 30, 255), rgb(30, 135, 255)),
    botonhome-color: linear-gradient(rgb(255, 123, 0), rgb(255, 221, 26)),
    body-background: rgb(48, 48, 48),
    text-color: rgb(255, 255, 255),
    border-color: rgb(255, 255, 255)
);